body{
    margin: 0;
    padding: 0;
    text-align: center;
}

input[type="text"], input[type="password"]{
    outline: none;
    padding: 14px;
    display: block;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #585858;
    margin: 15px auto;
}

input[type="submit"]{
    padding: 8px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #f5aa20;
    width: 320px;
    margin: 15px auto;
    margin-top: 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #ffba3b;
}

/*---------------------------------*/

header {
    border-bottom: 2px solid;
    padding: 12px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background: #f5aa20;
    border: none;
}
header a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

/*---------------------------------*/
.acceso{
    text-decoration: none;
    padding: 8px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #f5aa20;
    border-radius: 4px;
    cursor: pointer;
    
}
.acceso:hover{
    background-color: #ffba3b;
}